---
layout: "default"
---
This is just a plain web template.
<br>
<hr>
<a href="/index.html">TOP</a>
<a href="..">UP</a>
<a href="https://rms46.github.io/webTemplate/">WEB</a>
<a href="https://github.com/rms46/webTemplate/">GITHUB</a>

{{ content }}

<a href="/index.html">TOP</a>
<a href="..">UP</a>
<a href="https://rms46.github.io/webTemplate/">WEB</a>
<a href="https://github.com/rms46/webTemplate/">GITHUB</a>

<br>
<hr>
<br>
<h2>DISCLAIMER</h2>
<br>
This site is hosted at
<a href="https://github.com/rms46/webTemplate/">GitHub.com</a>.
It may not contain original ideas.
It is just based on "Google Here, Google There, Try This, Try That, and then Ask Anybody[TM]".
<br>
You are free to share, copy, and redistribute the material of this site 
in any medium or format for any purpose, even commercially. 
Please give appropriate credit, provide a link to the page, 
and indicate if changes were made. You may do so in any reasonable manner. 
You should not apply legal terms or technological measures, 
that legally restrict others from doing anything that is permitted here.
<br>
<br>
Yours,
<br>
<a href="https://rahmatm.samik-ibrahim.vlsm.org">Rahmat M. Samik-Ibrahim</a>
<br>
<br>
